<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Note Hub</title>

		<!-- Bootstrap core CSS -->
		<link href="/SomaEditor/resources/lib/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="/SomaEditor/resources/lib/bootstrap-3.2.0/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="/SomaEditor/resources/lib/bootstrap-3.2.0/assets/js/ie-emulation-modes-warning.js"></script>
		<script src="/SomaEditor/resources/lib/bootstrap-3.2.0/assets/js/ie10-viewport-bug-workaround.js"></script>

		<!-- Global CSS -->
		<link href="/SomaEditor/resources/stylesheets/common.css" rel="stylesheet">
		<link href="/SomaEditor/resources/stylesheets/document.css" rel="stylesheet">
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand navbar-brand-title" href="/SomaEditor/resources/views/index.html">Note Hub</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/SomaEditor/resources/views/document.html">Document</a>
						</li>
						<li>
							<a href="/SomaEditor/resources/views/bookmark.html">Bookmark</a>
						</li>
						<li>
							<a href="/SomaEditor/resources/views/editor.html">Editor</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Login</a>
						</li>
						<li>
							<a href="#">Join</a>
						</li>
					</ul>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<div class="document-container container" >
			<div class="row row-offcanvas row-offcanvas-right">
				<div class="col-xs-6 col-sm-3 sidebar" id="sidebar" role="navigation" >
					<h4>&nbsp; Category</h4>

					<div class="list-group document-sidebar-category">
						<a href="#" class="list-group-item active">IT</a>
						<a href="#" class="list-group-item">Culture</a>
						<a href="#" class="list-group-item">Game</a>
						<a href="#" class="list-group-item">ETC</a>
					</div>
					
					<a href="#" class="btn btn-default" id="add-category">Add Category</a>
				</div><!--/span-->

				<div class="col-xs-12 col-sm-9 document-container-tableWrapper">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<td>#</td>
								<td>제 목</td>
								<td>작성일</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>10</td><td>test</td><td>2014.08.01</td>
							</tr>
							<tr>
								<td>9</td><td>test2</td><td>2014.07.26</td>
							</tr>
							<tr>
								<td>8</td><td>test2</td><td>2014.07.26</td>
							</tr>
							<tr>
								<td>7</td><td>test2</td><td>2014.07.26</td>
							</tr>
							<tr>
								<td>6</td><td>test2</td><td>2014.07.26</td>
							</tr>
							<tr>
								<td>5</td><td>test2</td><td>2014.07.26</td>
							</tr>
							<tr>
								<td>4</td><td>test2</td><td>2014.07.26</td>
							</tr>
							<tr>
								<td>3</td><td>test2</td><td>2014.07.26</td>
							</tr>
							<tr>
								<td>2</td><td>test2</td><td>2014.07.26</td>
							</tr>
							<tr>
								<td>1</td><td>test2</td><td>2014.07.26</td>
							</tr>
						</tbody>
					</table>
					
					<div class='row pagination-wrapper'>
						<div class='col-sm-10'>
							<ul class="pagination">
							  <li><a href="#">&laquo;</a></li>
							  <li><a href="#">1</a></li>
							  <li><a href="#">2</a></li>
							  <li><a href="#">3</a></li>
							  <li><a href="#">4</a></li>
							  <li><a href="#">5</a></li>
							  <li><a href="#">&raquo;</a></li>
							</ul>
						</div>
						
						<div class='col-sm-2'>
							<a href="/SomaEditor/resources/views/editor.html" class="btn btn-default btn-lg document-write-btn">Write</a>
						</div>
					</div>
					
				</div><!--/span-->
				
			</div><!--/row-->
		</div>
		
		<div class='modal fade' id='modal-edit-category'>
			<div class='modal-dialog'>
				<div class='modal-content'>
					<div class='modal-header'>
						<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>
							&times;
						</button>
						<h4 class='modal-title'>Add Category</h4>
					</div>
					<div class='modal-body'>
						<div class='form-horizontal'>
							<div class='modal-message'></div>
							<div class='form-group'>
								<label class="control-label col-sm-2" for="title">Name</label>
								<div class='col-sm-8'>
									<input autofocus="autofocus" class="form-control" id="add-category-modal-title" name="title" type="text" value="" />
								</div>
							</div>
						</div>
					</div>
					<div class='modal-footer'>
						<button class='btn btn-primary' data-dismiss='modal' id='add-categoty-btn-done' type='button'>
							Done
						</button>
						<button class='btn btn-default' data-dismiss='modal' type='button'>
							Cancel
						</button>
					</div>
				</div>
			</div>
		</div> <!-- end of modal -->

		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/SomaEditor/resources/lib/jquery/jquery-1.9.1.js"></script>
		<script src="/SomaEditor/resources/lib/bootstrap-3.2.0/js/bootstrap.min.js"></script>

		<!-- Global Script -->
		<script src="/SomaEditor/resources/javascript/common.js"></script>
		<script src="/SomaEditor/resources/javascript/editor.js"></script>
		<script src="/SomaEditor/resources/javascript/document.js"></script>
	</body>
</html>
