<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Note Hub</title>

		<!-- Bootstrap core CSS -->
		<link href="/SomaEditor/resources/lib/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="/SomaEditor/resources/lib/bootstrap-3.2.0/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="/SomaEditor/resources/lib/bootstrap-3.2.0/assets/js/ie-emulation-modes-warning.js"></script>
		<script src="/SomaEditor/resources/lib/bootstrap-3.2.0/assets/js/ie10-viewport-bug-workaround.js"></script>
		
		<!-- Global CSS -->
		<link href="/SomaEditor/resources/stylesheets/common.css" rel="stylesheet">
		
	    <!-- Main Page Custom CSS & Font -->
	    <link href="/SomaEditor/resources/lib/mainPage/landing-page.css" rel="stylesheet">
	    <link href="/SomaEditor/resources/lib/mainPage/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	</head>

	<body>

		<!-- Header -->
		<div class="intro-header">

			<div class="container">

				<div class="row">
					<div class="col-lg-12">
						<div class="intro-message">
							<h1>Note Hub</h1>
							<h3>Welcome to Note Hub</h3>
							<hr class="intro-divider">
							<ul class="list-inline intro-social-buttons">
								<li>
									<a href="/SomaEditor/resources/views/document.html" class="btn btn-default btn-lg"><i class="fa fa-google-plus-square fa-fw"></i> <span class="network-name">Log in with Google Account</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- /.container -->
		</div>
		
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/SomaEditor/resources/lib/jquery/jquery-1.9.1.js"></script>
		<script src="/SomaEditor/resources/lib/bootstrap-3.2.0/js/bootstrap.min.js"></script>
		
		<!-- Global Script -->
		<script src="/SomaEditor/resources/javascript/common.js"></script>
		<script src="/SomaEditor/resources/javascript/editor.js"></script>
        <script src="/SomaEditor/resources/javascript/document.js"></script>
	</body>
</html>
