.document-container {
    margin-top : 60px;
}

.sidebar {
	margin-top : 30px;
}

.document-sidebar-category > li > a {
	color : #000000 !important;
}

.document-container-tableWrapper{
	margin-top : 40px;
}

.pagination-wrapper {
	text-align: center;
}

.document-write-btn {
	margin-top : 15px;
}

.document-active {
	border-left: 3px solid #000000;
	background: #f9f9f9;
}